html, body {
  margin: 20px;
}

#game {
  width: 650px;
}

#gameField {
  width: 400px;
  height: 400px;
  float: left;
  margin-right: 20px;
  border: 4px double;
    background:#ffffff;
  position:relative;
}

#gameInfo {
  width: 200px;
  height: 400px;
  float: left;
  border: 1px #ffffff solid;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    background:#ffffff;
  font-family:sans-serif;
    font-weight:bold;
  text-align:center;
  color:#;
}

.bodypart {
  height: 8px;
  width: 8px;
  position:absolute;
  background:#54c571;
   -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

#points {
  margin:5px;
  height:120px;
  margin-top:15px
}

#rules {
  margin:5px;
    font-size:12pt;
}

.food {
  height: 8px;
  width: 8px;
  position:absolute;
  background:#54c571;
}

#gamemsg {
  font-size:16pt;
  margin-bottom:35px;
  visibility:hidden;
  color:#54c571;
}
