<h2 id='title'>Welcome to Patrick's Snake Game</h2>

<nav>
  {{#link-to 'protanopia'}}Protanopia{{/link-to}}
  {{#link-to 'deuteranomaly'}}deuteranomaly{{/link-to}}
  {{#link-to 'deuteranopia'}}deuteranopia{{/link-to}}
  {{#link-to 'dichromasy'}}dichromasy{{/link-to}}
  {{#link-to 'protanomaly'}}protanomaly{{/link-to}}
</nav>

{{outlet}}
