<h2 id='title'>Welcome to Patrick's Snake Game</h2>



<nav>
  {{#link-to 'home'}}Home{{/link-to}}
  {{#link-to 'protanopia'}}Protanopia{{/link-to}}
  {{#link-to 'deuteranomaly'}}Deuteranomaly{{/link-to}}
  {{#link-to 'deuteranopia'}}Deuteranopia{{/link-to}}
  {{#link-to 'dichromasy'}}Dichromasy{{/link-to}}
  {{#link-to 'protanomaly'}}Protanomaly{{/link-to}}
  {{#link-to 'hidden'}}Hidden{{/link-to}}
</nav>


{{outlet}}
